doctype html
html(lang='en')
  head
    title Удалить задачу
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    meta(charset='utf-8')
  body
    .container
      h1.text-danger Список задач
      